:root {
  --primiry-text-color: #212121;
  --title-text-color: #757575;
  --adress-footer-text: rgba(255, 255, 255, 0.6);
  --h1-text-color: #ffffff;
  --acent-color: #2196f3;
}
.page {
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет для h1 #FFFFFF */
/* acent #2196F3 */
/* адресс футера rgba(255, 255, 255, 0.6); */

/* Header */
/* logo */
.logo {
  color: var(--acent-color);
  text-decoration: none;
}
.logo-second {
  color: var(--primiry-text-color);
  text-decoration: none;
}
/* site-nav */
.site-nav .link {
  color: var(--primiry-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}
