:root {
  --primiry-text-color: #212121;
  --title-text-color: #757575;
  --adress-footer-text: rgba(255, 255, 255, 0.6);
  --h1-text-color: #ffffff;
  --acent-color: #2196f3;
  --background-hero: #2f303a;
  --background-porfolio-botton: #f5f4fa;
}
body {
  background-color: var(--h1-text-color);
  color: var(--title-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет для h1 #FFFFFF */
/* acent #2196F3 */
/* адресс футера rgba(255, 255, 255, 0.6); */

/* Header */
/* logo */
.logo {
  color: var(--acent-color);
  text-decoration: none;
}
.logo-second {
  color: var(--primiry-text-color);
  text-decoration: none;
}
/* site-nav */
.nav-link {
  color: var(--primiry-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}
/* contact-nav */
.contact-link {
  color: var(--title-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}
/* Hero */
.hero {
  background-color: var(--background-hero);
}
h1 {
  color: var(--h1-text-color);
}
.button {
  cursor: pointer;
  background-color: var(--acent-color);
  color: var(--h1-text-color);
}
/* hang-section */
.list-items {
  color: var(--primiry-text-color);
}
.items-text {
  color: var(--title-text-color);
}
/* examples-section */
.examples-title {
  color: var(--primiry-text-color);
}
/* my-team section */
.team-title {
  color: var(--primiry-text-color);
}
.team-worker {
  color: var(--primiry-text-color);
}
.worker-position {
  color: var(--title-text-color);
}
/* footer */
.footer {
  background-color: var(--background-hero);
}
.icon {
  color: var(--acent-color);
}
.icon-second {
  color: var(--h1-text-color);
}
.address-map {
  color: var(--h1-text-color);
}
.address-map:hover,
.address-map:focus {
  color: var(--acent-color);
}
.address-item {
  color: var(--adress-footer-text);
}
.address-item:hover,
.address-item:focus {
  color: var(--acent-color);
}

/* portfolio */
/* button */
.button-filter {
  color: var(--primiry-text-color);
  background-color: var(--background-porfolio-botton);
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--acent-color);
  color: var(--h1-text-color);
}
/* services */
.services-title {
  color: var(--primiry-text-color);
}
.services-text {
  color: var(--title-text-color);
}
